body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.discord-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db; /* Color celeste de Discord */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.discord-button img {
    width: 20px; /* Ajusta el tamaño de la imagen según sea necesario */
    height: 20px;
    margin-right: 5px; /* Espacio entre la imagen y el texto */
}

.discord-button:hover {
    background-color: #2980b9; /* Cambio de color al pasar el ratón */
}

.menu-button {
    cursor: pointer;
    font-size: 24px;
    margin-left: 20px;
}

.menu {
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu a {
    color: #fff;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: #555;
}

#bot-image {
    text-align: center;
}

.image-container {
    display: inline-block;
}

#bot-image img {
    display: block;
    margin: 0 auto;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
    text-align: center;
}
